load("//build-tools/node:defs.bzl", "nix_node_lib", "nix_node_test")

nix_node_lib(
    name = "{{ name }}",
    srcs = [],
    out = "build.stamp",
    cmd = "echo ok > $OUT",
)

nix_node_test(
    name = "unit",
)

