[package]
name = "{{ name }}"
version = "0.1.0"
edition = "2021"
[lib]
crate-type = ["cdylib", "staticlib"]
[features]
browser = ["dep:wasm-bindgen"]
[[bin]]
name = "{{ name }}-wasi"
path = "src/main.rs"
[dependencies]
wasm-bindgen = { version = "=0.2.100", optional = true }
