{
  "defaultModuleKey": "client-entry",
  "modules": [
    {
      "moduleKey": "client-entry",
      "sourceEntryPath": "src/entry-client.ts",
      "runtimeImportPath": "./entry-client"
    },
    {
      "moduleKey": "server-entry",
      "sourceEntryPath": "src/entry-server.ts",
      "runtimeImportPath": "./entry-server"
    }
  ]
}

