{
  "defaultModuleKey": "top-contract",
  "modules": [
    {
      "moduleKey": "top-contract",
      "sourcePath": "src/wasm-contract/top.wasm",
      "runtimeDestinations": {
        "client": "client/top.wasm",
        "server": "server/wasm-contract/top.wasm"
      }
    }
  ]
}

