load("//build-tools/python:defs.bzl", "nix_python_library", "nix_python_test")

nix_python_library(
    name = "{{ name }}",
    srcs = glob(["src/**/*.py"]),
    lockfile_label = "lockfile:projects/libs/{{ name }}/uv.lock#projects/libs/{{ name }}",
    visibility = ["PUBLIC"],
)

nix_python_test(
    name = "{{ name }}_test",
    srcs = glob(["tests/**/*.py"]),
    deps = [":{{ name }}"],
    lockfile_label = "lockfile:projects/libs/{{ name }}/uv.lock#projects/libs/{{ name }}",
    visibility = ["PUBLIC"],
)


