{
  "name": "{{ pkgScope }}/{{ name }}",
  "private": true,
  "type": "module",
  "version": "0.1.0",
  "scripts": {
    "dev": "node scripts/dev.mjs",
    "dev:wasm": "pnpm run dev",
    "dev:vite": "vite",
    "dev:wasm:watch": "node scripts/dev-wasm-watch.mjs",
    "build": "node scripts/build.mjs",
    "preview": "vite preview",
    {% if includeNodeTests %}
    "test": "vitest run"
    {% else %}
    "test": "node --test dist/**/*.test.js"
    {% endif %}
  },
  "devDependencies": {
    "typescript": "^5.6.3",
    "vite": "^5.4.10",
    "esbuild": "^0.21.5",
    "@esbuild/darwin-arm64": "^0.21.5",
    "@types/node": "^22.0.0"{% if includeNodeTests %},
    "vitest": "^1.6.0",
    "@vitest/coverage-v8": "^1.6.0"
    {% endif %}
  }
}
