load("//build-tools/node:defs.bzl", "node_asset_stage", "node_webapp", "nix_node_test")

node_webapp(
    name = "app_raw",
    ts_module_roots = ["app"],
)

node_asset_stage(
    name = "app",
    app = ":app_raw",
    assets = [],
    labels = ["lang:node", "kind:app", "webapp:ssr", "framework:next"],
    out = "dist",
)

nix_node_test(
    name = "unit",
)
