load("//build-tools/cpp:defs.bzl", "nix_cpp_wasm_static_lib")

nix_cpp_wasm_static_lib(
    name = "core_wasm",
    srcs = ["src/core.c"],
    header_deps = ["//projects/libs/{{ name }}-support:headers"],
    link_deps = ["//projects/libs/{{ name }}-support:support_wasm"],
    labels = ["lang:cpp", "kind:lib"],
    wasm_abi = "wasi",
    visibility = ["PUBLIC"],
)



