load("//build-tools/node:defs.bzl", "node_webapp", "nix_node_test")

node_webapp(
    name = "app",
    labels = ["lang:node", "kind:app"],
    lockfile_label = "lockfile:apps/{{ name }}/pnpm-lock.yaml#apps/{{ name }}",
)

nix_node_test(
    name = "unit",
    lockfile_label = "lockfile:apps/{{ name }}/pnpm-lock.yaml#apps/{{ name }}",
)
