load("@viberoots//build-tools/python:defs.bzl", "nix_python_wasm_extension_module")
load("@viberoots//build-tools/wasm:defs.bzl", "nix_wasm_artifact_export")

nix_python_wasm_extension_module(
    name = "pyext",
    module = "pyext._native",
    srcs = ["native/ext.c"],
    labels = ["backend:pyodide"],
    lockfile_label = "lockfile:projects/libs/{{ name }}-py-wasm/uv.lock#projects/libs/{{ name }}-py-wasm",
    visibility = ["PUBLIC"],
)

nix_wasm_artifact_export(
    name = "py_wasm",
    target = "//projects/libs/{{ name }}-py-wasm:pyext",
    artifact_dir = "site/pyext",
    artifact_glob = "_native*",
    out = "pyext.wasm",
    visibility = ["PUBLIC"],
)
