load("@viberoots//build-tools/cpp:defs.bzl", "nix_cpp_wasm_emscripten_lib")
load("@viberoots//build-tools/wasm:defs.bzl", "nix_wasm_artifact_export")

nix_cpp_wasm_emscripten_lib(
    name = "cpp_emscripten",
    srcs = ["src/add.c"],
    exported_functions = ["_add"],
    visibility = ["PUBLIC"],
)

nix_wasm_artifact_export(
    name = "app",
    target = "//projects/libs/{{ name }}-cpp-wasm:cpp_emscripten",
    artifact_dir = "lib",
    artifact_glob = "*.wasm",
    out = "cpp_emscripten.wasm",
    labels = ["lang:cpp", "kind:wasm"],
    visibility = ["PUBLIC"],
)
