load("@prelude//:rules.bzl", "genrule")
load("//build-tools/cpp:defs.bzl", "nix_cpp_wasm_emscripten_lib")

nix_cpp_wasm_emscripten_lib(
    name = "cpp_emscripten",
    srcs = ["src/add.c"],
    exported_functions = ["_add"],
    visibility = ["PUBLIC"],
)

genrule(
    name = "app",
    srcs = [
        ":cpp_emscripten",
        "src/add.c",
        "//build-tools/tools/wasm:export-wasm-from-nix",
    ],
    out = "cpp_emscripten.wasm",
    cmd = "WASM_TARGET=//projects/libs/{{ name }}-cpp-wasm:cpp_emscripten "
          + "WASM_DIR=lib "
          + "WASM_EXTS=.wasm "
          + "OUT_PATH=\"$OUT\" "
          + "zx-wrapper \"$(location //build-tools/tools/wasm:export-wasm-from-nix)\"",
    labels = ["lang:cpp", "kind:wasm"],
    visibility = ["PUBLIC"],
)
