load("@viberoots//build-tools/rust:defs.bzl", "rust_library")

rust_library(
    name = "{{ name }}-app",
    crate = "{{ name }}-app",
    deps = ["//projects/libs/{{ name }}-core:{{ name }}-core"],
    srcs = ["src/lib.rs"],
)
