load("//go:defs.bzl", "nix_go_library")

nix_go_library(
    name = "{{ name }}",
    srcs = glob(["pkg/**/*.go"], exclude=["**/*_test.go"]),
    labels = ["lang:go", "kind:lib"],
    visibility = ["PUBLIC"],
)


