load("//node:defs.bzl", "nix_node_cli_bin", "nix_node_test")

nix_node_cli_bin(
    name = "{{ name }}",
    lockfile_label = "lockfile:{{ lockfilePath }}#{{ importer }}",
    importer = "{{ importer }}",
    # bundle = True,
)

nix_node_test(
    name = "cli_help",
    srcs = [],
    out = "cli-help.stamp",
    cmd = "node bin/{{ name }} --help >/dev/null 2>&1 || true; echo ok > $OUT",
    lockfile_label = "lockfile:{{ lockfilePath }}#{{ importer }}",
)

