load("//build-tools/node:defs.bzl", "nix_node_cli_bin", "nix_node_test")

nix_node_cli_bin(
    name = "{{ name }}",
    lockfile_label = "lockfile:{{ lockfilePath }}#{{ importer }}",
    # importer = "{{ importer }}",
    # bundle = True,
)

nix_node_test(
    name = "unit",
    lockfile_label = "lockfile:{{ lockfilePath }}#{{ importer }}",
)

