load("@viberoots//build-tools/python:defs.bzl", "nix_python_wasm_lib", "nix_python_library", "nix_python_test")

nix_python_library(
    name = "{{ name }}_lib",
    srcs = glob(["src/**/*.py"]),
    visibility = ["PUBLIC"],
)

nix_python_wasm_lib(
    name = "{{ name }}",
    srcs = glob(["**/*.py"]),
    visibility = ["PUBLIC"],
)

nix_python_test(
    name = "{{ name }}_test",
    srcs = glob(["tests/**/*.py"]),
    deps = [":{{ name }}_lib"],
    visibility = ["PUBLIC"],
)


