load("//build-tools/go:defs.bzl", "nix_go_tiny_wasm_lib")

nix_go_tiny_wasm_lib(
    name = "wasm",
    srcs = ["main.go"],
    link_deps = ["//projects/libs/{{ name }}-core:core_wasm"],
    link_closure = "transitive",
    visibility = ["PUBLIC"],
)



