{
  "defaultModuleKey": "default-message",
  "modules": [
    {
      "moduleKey": "default-message",
      "sourceEntryPath": "src/ts-modules/default.ts",
      "runtimeImportPath": "./ts-modules/default"
    }
  ]
}

