load("//go:defs.bzl", "nix_go_library", "nix_go_test")

nix_go_library(
    name = "{{ name }}",
    labels = [],
    visibility = ["PUBLIC"],
)

nix_go_test(
    name = "{{ name }}_test",
    library = ":{{ name }}",
)


