load("@viberoots//build-tools/rust:defs.bzl", "rust_python_extension")

rust_python_extension(name = "{{ name }}", crate = "{{ name }}", module = "{{ name | replace("-", "_") }}", srcs = ["src/lib.rs"])
