load("@viberoots//build-tools/go:defs.bzl", "nix_go_carchive")

nix_go_carchive(
    name = "carchive",
    srcs = glob(["pkg/**/*.go"]),
    labels = ["lang:go", "kind:carchive"],
    visibility = ["PUBLIC"],
)


