load("@viberoots//build-tools/rust:defs.bzl", "rust_cdylib", "rust_library", "rust_static_library", "rust_test")

rust_library(name = "{{ name }}", crate = "{{ name }}", srcs = ["src/lib.rs"])
rust_static_library(name = "{{ name }}-static", crate = "{{ name }}", srcs = ["src/lib.rs"])
rust_cdylib(name = "{{ name }}-dynamic", crate = "{{ name }}", srcs = ["src/lib.rs"])
rust_test(name = "{{ name }}-test", crate = "{{ name }}", srcs = ["src/lib.rs"])
