<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ name }} (Wasm linking demo)</title>
  </head>
  <body>
    <nav>
      <a href="/index-inline.html">Inline Wasm (Go)</a>
      <a href="/index-inline-cpp.html">Inline Wasm (C++)</a>
      <a href="/index-inline-py.html">Inline Wasm (Python)</a>
    </nav>
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>


