load("//build-tools/node:defs.bzl", "node_asset_stage", "node_webapp")

node_webapp(
    name = "webapp_raw",
    out = "dist",
)

node_asset_stage(
    name = "webapp",
    app = ":webapp_raw",
    assets = [
        {"src": "//projects/libs/{{ name }}-api:wasm", "dest": "top.wasm"},
        {"src": "//projects/libs/{{ name }}-wasm-inline:wasm_inline", "dest": "wasm-inline/index.js"},
        {"src": "//projects/libs/{{ name }}-wasm-inline:wasm_inline_cpp", "dest": "wasm-inline/cpp.js"},
        {"src": "//projects/libs/{{ name }}-wasm-inline:wasm_inline_py", "dest": "wasm-inline/py.js"},
    ],
    out = "dist",
)



