load("@viberoots//build-tools/cpp:defs.bzl", "nix_cpp_node_addon", "nix_cpp_test")

nix_cpp_node_addon(
    name = "napi_addon",
    srcs = [
        "src/{{ name }}.cc",
        "src/binding.cc",
    ],
    headers = glob(["include/**/*.h"]),
    addon_name = "{{ addon_name }}",
    labels = ["lang:cpp", "kind:addon"],
    visibility = ["PUBLIC"],
)

nix_cpp_test(
    name = "{{ name }}_gtest",
    srcs = ["tests/{{ name }}_gtest.cpp"],
    deps = [
        "//projects/libs/{{ name }}-native:napi_addon",  # ensure addon sources are visible for include
        "workspace_providers//:nix_pkgs_googletest",
    ],
    labels = ["lang:cpp", "kind:test"],
)

