load("//cpp:defs.bzl", "nix_cpp_wasm_static_lib")

nix_cpp_wasm_static_lib(
    name = "core_wasm",
    srcs = ["src/core.c"],
    header_deps = ["//libs/{{ name }}-support:headers"],
    link_deps = ["//libs/{{ name }}-support:support_wasm"],
    labels = ["wasm:wasi"],
    visibility = ["PUBLIC"],
)



